@tailwind base;
@tailwind components;
@tailwind utilities;

/* Titres en Montserrat + couleur Confident */
h1, h2, h3, h4, h5, h6 {
  @apply font-montserrat font-black text-confidentBlue;
}

/* Corps de texte */
body {
  @apply font-sans text-deepBlack bg-snowWhite;
}